
<% provide :title, 'Главная' %>
<h1>Контакты</h1>
<h2>Персональная телефонная (и email) книга.</h2>

<table class="table" id="tab">
  <tr class="table-up">
    <td class="title-table1">Имя(<%= @contacts.count %>)</td>
    <td class="title-table2">Телефон</td>
    <td class="title-table3">Email</td>
    <td></td>
    <td></td>
  </tr>
  <%= render(@contact) %>
  <table class="table" id="add-1"></table>
</table>

<p><%= link_to 'Добавить контакт', new_contact_path, :class => 'btn btn-primary' %></p>





