.title-table1, .title-table2, .title-table3{
    font-weight: bold;
    font-style: italic;
}

.label-auto{
    float: left;
    margin-left: 20px;
}

.text-field{
    float: left;
    margin-left: 20px;
}

.form-actions{
    background-color: #ffffff;
    text-align: right;
}

.title-contact{
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
    color: royalblue;
}

.table{
    border-radius: 10px;
}

body{
    background-color: #fafafa;
}

.container{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
    padding: 0 15px 0 15px;
    border-radius: 5px;
}

h2{
    font-style: italic;
}